body
{
	background-color:#f0f0f0 !important;
	font-family:"Lucida Grande", Arial, Geneva, sans-serif;
	font-weight:400;
	color:#404040;
	font-size:13px;
	line-height:1.4;
	margin:0;
	padding:0;
}

a:hover
{
	color:#006BB3;
	font-weight:400;
}

a:focus
{
	-moz-outline-style:none;
	font-weight:400;
}

/*Main Page Styling*/
#Header
{
	height:50px;
	width:100%;
	background-color:#f6f6f6;
	border-bottom:solid 1px #c3c3c3;
	margin-bottom:50px;
}

#Container
{
	width:100%;
	display:block;
	background-color:#f6f6f6;
	border-top:solid 1px #c3c3c3;
}

#PageContent
{
	display:block;
	padding-bottom:15px;
	padding-right:100px;
	padding-left:100px;
	height:100%;
	margin:0 auto;
}

#Logo
{
	display:inline-block;
	margin-top:10px;
}

#Logo h1
{
	font-size:20px;
	margin:0;
}

#Logo h2
{
	font-size:9px;
	margin:-2px 0 0;
}

/* Copyright Styling */
#Copyright
{
	width:100%;
	height:50px;
	background-color:#f0f0f0;
	border-top:solid 1px #c3c3c3;
	min-width:950px;
	margin:0 auto;
}

#Copyright span
{
	display:block;
	text-align:center;
	padding-top:20px;
	font-size:11px;
	margin:0 auto;
}

h3
{
	border-bottom:#999 solid 1px;
}

/* Navigation Styling */
#PageNavigation
{
	height:50px;
	display:block;
	margin:0 auto;
	padding:47px 100px 100px;
}

#PageNavigation ul
{
	list-style:none;
	display:inline-block;
	width:578px;
	float:right;
	text-align:right;
	margin:18px 0 0;
	padding:0;
}

#PageNavigation li
{
	list-style:none;
	display:inline;
	padding-left:0;
	padding-right:10px;
}

#PageNavigation li a.active
{
	font-size:1.15em;
	color:#006BB3;
}

/* Forms */
fieldset
{
	border:#999 solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

textarea
{
	background:#f0f0f0;
	border:#999 solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	resize:none;
	padding:3px;
}

select
{
	margin-bottom:5px;
	border:#555 solid 1px;
	background:#f0f0f0;
}

a:link,a:visited
{
	color:#404040;
	text-decoration:none;
	font-weight:400;
	transition:color 0.4s ease-in;
}

textarea:hover,textarea:active,input[type=text]:hover,input[type=password]:hover
{
	border:#555 solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input[type=text],input[type=password]
{
	border:#999 solid 1px;
	background:#f0f0f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-bottom:5px;
	padding:3px;
}

input[type=text]:active,input[type=password]:active
{
	border:#555 solid 1px;
	background:#f0f0f0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input[type=text]:disabled,input[type=password]:disabled
{
	background:#CDCDCE;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input[type=submit],input[type=button]
{
	background:#f0f0f0;
	border:#555 solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

input[type=submit]:hover,input[type=button]:hover
{
	background:#DDD;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}