fieldset{
	border: #999999 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

fieldset legend{

}

textarea{
	background: #f0f0f0;
	border: #999999 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

textarea:hover{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
textarea:active{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type=text]{
	border: #999999 solid 1px;
	background: #f0f0f0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 5px;
}

input[type=text]:hover{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=text]:active{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

select{
	margin-bottom: 5px;
}