h3,h4,h5,h6
{
color: #66000F;
}
a
{
text-decoration: underline;
color: #D90000;
}
#header
{
width:100%;
height:122px;
background: #440000 url('../images/red/n1.gif') repeat-x;
}
#logo h2
{
display: inline;
padding-left: 0.5em;
color: #E5CCD0;
font-size: 1.0em;
}
#menu li a
{
background: #fff url('../images/red/n4.gif') repeat-x;
}
#menu li a.active
{
background: #CA2F2F url('../images/red/n3.gif') repeat-x;
color: #fff;
border: solid 1px #A94B4B;
}
#main
{
background: #fff url('../images/red/n2.gif') 0px 1px repeat-x;
}